services:
    db:
        image: postgres:16
        container_name: leetcode_database
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: leetcode
        ports:
            - '5432:5432'
        volumes:
            - ./pgdata:/var/lib/postgresql/data

volumes:
    pgdata: