server:
    http_listen_port: 3100

common:
    instance_addr: 127.0.0.1
    path_prefix: /var/loki
    storage:
        filesystem:
            chunks_directory: /var/loki/chunks
            rules_directory: /var/loki/rules
    replication_factor: 1

compactor:
    working_directory: /var/loki/compactor
    compaction_interval: 10m

limits_config:
    ingestion_rate_mb: 4
    ingestion_burst_size_mb: 6
    max_query_length: 0

schema_config:
    configs:
        - from: 2024-01-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
              prefix: index_
              period: 24h

ruler:
    alertmanager_url: http://localhost:9093
