name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy Services
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: |
          set -e

          echo "Pulling latest images..."
          docker compose pull

          echo "Change directory"
          cd ~/leetcode-microservices

          echo "Rolling update (no downtime)..."
          docker compose up -d --remove-orphans

          echo "Deployment completed successfully!"
